.half-fluid .left-half,
.half-fluid .right-half {
  left: 50%;
  margin-left: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  padding: 0px;
}
.half-fluid .image {
  
  background-size: cover;
  background-position: center;
  min-height: 400px;
  height: 100%;
}

@media (min-width: 992px) {
  .half-fluid .left-half {
    padding-left: 0 !important;
    position: absolute;
    left: 0;
    right: 50%;
    margin-left: auto;
    width: auto;
  }
  .half-fluid .right-half {
    padding-right: 0 !important;
    position: absolute;
    right: 0;
    left: 50%;
    margin-left: auto;
    width: auto;
  }
}