.page {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background: #000;
    animation: colors 15s infinite;
    animation-timing-function: cubic-bezier(0.85, 0.01, 0.19, 0.99);
    font-family: "Helvetica Neue", sans-serif;
  }
  h1 {
    text-align: left;
    display: inline-block;
    width: auto;
    margin: auto;
    font-size: 4em;
  }
  .scroller {
    height: 1em;
    overflow: hidden;
    font-size: 2em;
  }
  .scroller span {
    display: block;
    animation: scroller 4s infinite;
    animation-timing-function: ease-in-out(0.42, 0, 0.58, 1);
    line-height: 1;
    color: #fff;
  }
  @keyframes scroller {

    0% {
      transform: translateY(0);
    }
    12.5% {
      transform: translateY(-1em);
    }
    25% {
      transform: translateY(-2em);
    }
    37.5% {
      transform: translateY(-3em);
    }
    50% {
      transform: translateY(-4em);
    }
    62.5% {
      transform: translateY(-5em);
    }
    75% {
      transform: translateY(-5em);
    }
    87.5% {
      transform: translateY(-5em);
    }
    100% {
      transform: translateY(-5em);
    }

  }
  @keyframes colors {
    
    0% {
      background-color: #12c2e9;
    }
    12.5% {
      background-color: #c471ed;
    }
    25% {
      background-color: #f64f59;
    }
    37.5% {
      background-color: #f64f59;
    }
    50% {
      background-color: #40e0d0;
    }
    62.5% {
      background-color: #12c2e9;
    }
    75% {
      background-color: #c471ed;
    }
    87.5% {
      background-color: #f64f59;
    }
    100% {
      background-color: #c471ed;
    }

  }