{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>application sent</title>
    <link rel="stylesheet" href="{% static 'css/thanks.css' %}">
</head>

<body>
    <div class="page">
        <h1>
            <span>Resume sent successfully</span>
            <div class="scroller">
                <span class="scroller-item">Hey</span>
                <span class="scroller-item">Please</span>
                <span class="scroller-item">Give us</span>
                <span class="scroller-item">Some time</span>
                <span class="scroller-item">To evaluate</span>
                <span class="scroller-item">Your profile</span>
                <span class="scroller-item">Will get back to you at the earliest</span>
                <span class="scroller-item">The maximum wait period is</span>
                <span class="scroller-item">2 weeks</span>
            </div>
        </h1>
    </div>
</body>
</html>
