
  .hs {
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    -webkit-overflow-scrolling: touch;
    margin: 0 -20px;
  }
  .hs__header {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .hs__headline {
    flex: 1;
  }
  .hs__arrows {
    align-self: center;
  }
  .hs__arrows .arrow:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
    background-size: contain;
    filter: brightness(5);
    width: 18px;
    height: 12px;
    cursor: pointer;
  }
  .hs__arrows .arrow.disabled:before {
    filter: brightness(2);
  }
  .hs__arrows .arrow.arrow-prev:before {
    transform: rotate(90deg);
    margin-right: 10px;
  }
  .hs__arrows .arrow.arrow-next:before {
    transform: rotate(-90deg);
  }
  .hs__item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  @media only screen and (max-width: 990px) {
    .hs__item {
      flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
    }
  }
  .hs__item:last-child:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 1px;
    right: calc(10px * 2 * -1);
  }
  .hs__item:first-child {
    margin-left: calc(10px * 2);
  }
  .hs__item__description {
    z-index: 1;
    align-self: flex-start;
    margin: 10px 0;
  }
  .hs__item__subtitle {
    color: #aaa;
    display: block;
  }
  .hs__item__image__wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  .hs__item__image {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  @media only screen and (min-width: 990px) {
    .hs__wrapper {
      overflow: hidden;
    }
  }
  @media (hover: none) and (pointer: coarse) {
    .hs__wrapper .hs__arrows {
      display: none;
    }
    .hs__wrapper .hs__item {
      flex: 1 0 calc(23% - 10px * 2);
    }
  }
  @media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
    .hs__wrapper .hs__item {
      flex: 1 0 calc(45% - 10px * 2);
    }
  }
  
  /* Base Styling */
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Muli", sans-serif;
    color: white;
    background: white;
    line-height: 1.5;
    letter-spacing: 0.15px;
  }
  
  .container-advantages {
    margin: 0 auto;
    background: #121212;
    mix-blend-mode: invert;
    position: relative;
  }
  .container-advantages:after {
    content: "";
    width: 100vw;
    height: 100%;
    background: #212121;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
  }
  @media only screen and (min-width: 990px) {
    .container-advantages {
      padding: calc(10px * 4) calc(10px * 8);
    }
  }
  
  .description {
    max-width: 990px;
    color: #212121;
    margin: 0 auto;
    padding: calc(10px * 4);
  }
  
  ul {
    padding: 0;
    margin: 0;
  }

  .page-container{
    margin:100px
  }
  
  .component-text-image {
    background-color: #fafafa;
    padding: 5rem 0;
  }
  .component-text-image__item {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 5rem;
  }
  @media (min-width: 700px) {
    .component-text-image__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  .component-text-image__item:last-child {
    margin-bottom: 0;
  }
  .component-text-image__item:nth-child(2n) .component-text-image__heading-and-image {
    order: 1;
  }
  .component-text-image__item:nth-child(2n) .component-text-image__body {
    order: 2;
  }
  @media (min-width: 700px) {
    .component-text-image__item:nth-child(2n) .component-text-image__body {
      padding-right: 0;
      padding-left: 10%;
    }
  }
  .component-text-image__item:nth-child(2n) .component-text-image__image-wrapper::before {
    width: 8rem;
    height: 3rem;
    border-radius: 1.5rem;
    top: auto;
    left: auto;
    bottom: -1.5rem;
    right: 2rem;
  }
  .component-text-image__item--blob-blue .component-text-image__image-wrapper::before {
    background-color: #00a3e0;
  }
  .component-text-image__item--blob-orange .component-text-image__image-wrapper::before {
    background-color: #eb9a18;
  }
  .component-text-image__item--blob-mid-grey .component-text-image__image-wrapper::before {
    background-color: #8b8b8b;
  }
  .component-text-image__item--blob-dark-grey .component-text-image__image-wrapper::before {
    background-color: #364247;
  }
  .component-text-image__item--blob-red .component-text-image__image-wrapper::before {
    background-color: #eb342e;
  }
  .component-text-image__item--blob-lime .component-text-image__image-wrapper::before {
    background-color: #c4d600;
  }
  .component-text-image__item--blob-violet .component-text-image__image-wrapper::before {
    background-color: #a05eb5;
  }
  .component-text-image__heading-and-image {
    order: 2;
    margin-bottom: 2rem;
  }
  @media (min-width: 500px) {
    .component-text-image__heading-and-image {
      display: flex;
      flex-direction: row;
      align-self: flex-end;
      max-height: 320px;
      height: 320px;
    }
  }
  @media (min-width: 700px) {
    .component-text-image__heading-and-image {
      width: 60%;
      margin-bottom: 0;
    }
  }
  .component-text-image__heading {
    margin: 0;
    width: 100%;
    line-height: 1;
  }
  @media (min-width: 500px) {
    .component-text-image__heading {
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
      -webkit-text-orientation: mixed;
              text-orientation: mixed;
      transform: rotate(180deg);
      flex-shrink: 0;
      flex-grow: 1;
      margin-right: 0.5rem;
      min-width: 9rem;
      width: auto;
      margin-bottom: 0;
    }
  }
  .component-text-image__image-wrapper {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 0;
    padding-top: 54%;
  }
  @media (min-width: 500px) {
    .component-text-image__image-wrapper {
      width: 85%;
      height: 320px;
      padding-top: 0;
    }
  }
  .component-text-image__image-wrapper::before {
    content: "";
    display: block;
    background-color: black;
    width: 4rem;
    height: 10rem;
    position: absolute;
    border-radius: 2rem;
    top: 2rem;
    left: -2rem;
  }
  .component-text-image__image-wrapper--mobile {
    display: block;
  }
  @media (min-width: 500px) {
    .component-text-image__image-wrapper--mobile {
      display: none;
    }
  }
  .component-text-image__image-wrapper--tablet {
    display: none;
  }
  @media (min-width: 500px) {
    .component-text-image__image-wrapper--tablet {
      display: block;
    }
  }
  .component-text-image__body {
    order: 1;
    margin-bottom: 2rem;
  }
  @media (min-width: 500px) {
    .component-text-image__body {
      margin-bottom: 0;
    }
  }
  @media (min-width: 700px) {
    .component-text-image__body {
      width: 40%;
      padding-right: 10%;
    }
  }
  .component-text-image__subheading {
    margin: 0 0 2rem 0;
    font-size: 2.2rem;
    font-weight: 100;
  }
  .component-text-image__text {
    margin: 0;
  }